version: '3'
services:
  python:
    build: 
      context: .
      args:
        requirements_file: requirements.txt
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - 80:80
    command: python main.py
