JIRA_PROJECT_URL = "URL DO QUADRO ENTRE ASPAS"
JIRA_USER_EMAIL = "EMAIL ENTRE ASPAS"
JIRA_API_TOKEN = "JIRA TOKEN ENTRE ASPAS"
DISCORD_API_TOKEN = "DISCORD TOKEN ENTRE ASPAS"
ALLOWED_CHANNEL_IDS = "OPICIONAL, SE NÃO PASSAR, RESPONDE TODOS CANAIS. SE PASSAR OS IDS SEPARADOS POR VIRGULA, SÓ RESPONDE OS CANAIS COM O ID FORNECIDO."
